.list_posts {
    max-width: 70rem;
    margin: auto;
}

.single_post {
    text-align: left;
}

.title {
    font-size: 1.2rem;
    margin: 0 0 1rem 0;
}

.content {
    font-size: 1rem;
    margin: 0 0 1rem 0;
}